@font-face {
  font-family: "didact_gothicregular";
  src: url("../fonts/didactgothic-regular-webfont.eot");
  src: url("../fonts/didactgothic-regular-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/didactgothic-regular-webfont.woff") format("woff"),
    url("../fonts/didactgothic-regular-webfont.ttf") format("truetype"),
    url("../fonts/didactgothic-regular-webfont.svg#didact_gothicregular")
      format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "hind_maduraibold";
  src: url("../fonts/hindmadurai-bold-webfont.eot");
  src: url("../fonts/hindmadurai-bold-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/hindmadurai-bold-webfont.woff") format("woff"),
    url("../fonts/hindmadurai-bold-webfont.ttf") format("truetype"),
    url("../fonts/hindmadurai-bold-webfont.svg#hind_maduraibold") format("svg");
  font-weight: normal;
  font-style: normal;
}
* {
  box-sizing: border-box;
  -webkit-margin-after: 0;
  margin-block-end: 0;
  -webkit-margin-before: 0;
  margin-block-start: 0;
}

:after,
:before {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-size: 15px;
  overflow-x: hidden;
  position: relative;
  color: #d9d9d9;
  letter-spacing: 1.2px;
  font-family: "didact_gothicregular";
  transition: all ease-in-out 0.5s;
  background-color: var(--body-color);
}

:root {
  --primary-color: #971f1f;
  --secondary-color: #64676e;
  --text-color: #d9d9d9;
  --black-color: #000;
  --white-color: #fff;
  --heading-color: rgba(189, 195, 199, 0.45);
  --body-color: #1f2029;
  --section-color: #1a1c28;
  --bg-label-color: #d9d9d9;
}

[data-theme="light"] {
  --primary-color: #971f1f;
  --secondary-color: #64676e;
  --text-color: #000;
  --black-color: #fff;
  --white-color: #000;
  --heading-color: #64676e;
  --body-color: #fff;
  --section-color: #e9e9e9;
  --bg-label-color: #64676e;
}
[data-theme="light"] .portfolio_text {
  text-align: left;
  -ms-writing-mode: tb-lr;
  writing-mode: vertical-lr;
  color: rgba(200, 200, 200, 0.1);
  background: linear-gradient(
    90deg,
    rgba(41, 40, 40, 0.007),
    rgb(215, 215, 215)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
[data-theme="light"] #menu {
  background-color: #e9e9e9;
}
[data-theme="light"] #menu .main-nav a,
[data-theme="light"] #menu .menu-footer a {
  color: #64676e;
}
[data-theme="light"] ::-webkit-scrollbar-thumb {
  background-color: #64676e;
}

/** Scrollbar **/
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: var(--body-color);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(200, 200, 200, 0.055);
}

::-webkit-scrollbar-thumb:hover {
  background-color: #c8c8c8;
}

/** theme change icon **/
.theme-switch-wrapper .theme-switch {
  z-index: 9;
  top: 120px;
  right: 18px;
  width: 60px;
  height: 34px;
  position: fixed;
  display: inline-block;
}
.theme-switch-wrapper .theme-switch input {
  display: none;
}
.theme-switch-wrapper .slider {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  cursor: pointer;
  transition: 0.4s;
  position: absolute;
  background-color: var(--primary-color);
}
.theme-switch-wrapper .slider:before {
  left: 4px;
  width: 21px;
  bottom: -8px;
  content: "";
  height: 21px;
  transition: 0.4s;
  position: absolute;
  background-repeat: no-repeat;
  background: url(../images/sun.svg);
}
.theme-switch-wrapper input:checked + .slider:before {
  transform: translateX(30px);
  background-repeat: no-repeat;
  background: url(../images/moon.svg);
}

/** Portfolio Text **/
.portfolio_text {
  top: 0.1em;
  z-index: -10;
  line-height: 1;
  font-size: 120px;
  text-align: left;
  font-weight: 900;
  position: absolute;
  -ms-writing-mode: tb-lr;
  writing-mode: vertical-lr;
  text-transform: uppercase;
  color: rgba(200, 200, 200, 0.1);
  -webkit-writing-mode: vertical-lr;
  font-family: "hind_maduraibold";
  background: linear-gradient(
    90deg,
    rgba(42, 42, 42, 0),
    rgba(200, 200, 200, 0.0588235294)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (min-width: 320px) and (max-width: 767px) {
  .portfolio_text {
    font-size: 45px;
  }
}

/** Heading **/
.heading {
  font-family: "didact_gothicregular";
}
.heading h1 {
  font-size: 96px;
  line-height: 1.5em;
  color: var(--heading-color);
}
@media (min-width: 320px) and (max-width: 767px) {
  .heading h1 {
    font-size: 45px;
    margin-bottom: 30px;
  }
}
@media (min-width: 768px) and (max-width: 980px) {
  .heading h1 {
    font-size: 75px;
  }
}
.img-responsive {
  height: auto;
  margin: 0 auto;
  display: block;
  max-width: 100%;
}

/** Menu Icon **/
.hamburger-menu .toggle-menu {
  padding: 1em;
  background-color: #971f1f;
  -webkit-animation: bubble-box 7s linear infinite;
  animation: bubble-box 7s linear infinite;
}
@-webkit-keyframes bubble-box {
  0%,
  100% {
    border-radius: 63% 37% 54% 46%;
  }
  14% {
    border-radius: 40% 60% 54% 46%/49% 60% 40% 51%;
  }
  28% {
    border-radius: 54% 46% 38% 62%/49% 70% 30% 51%;
  }
  42% {
    border-radius: 61% 39% 55% 45%/61% 38% 62% 39%;
  }
  56% {
    border-radius: 61% 39% 67% 33%/70% 50% 50% 30%;
  }
  70% {
    border-radius: 50% 50% 34% 66%/56% 68% 32% 44%;
  }
  84% {
    border-radius: 46% 54% 50% 50%/35% 61% 39% 65%;
  }
}
@keyframes bubble-box {
  0%,
  100% {
    border-radius: 63% 37% 54% 46%;
  }
  14% {
    border-radius: 40% 60% 54% 46%/49% 60% 40% 51%;
  }
  28% {
    border-radius: 54% 46% 38% 62%/49% 70% 30% 51%;
  }
  42% {
    border-radius: 61% 39% 55% 45%/61% 38% 62% 39%;
  }
  56% {
    border-radius: 61% 39% 67% 33%/70% 50% 50% 30%;
  }
  70% {
    border-radius: 50% 50% 34% 66%/56% 68% 32% 44%;
  }
  84% {
    border-radius: 46% 54% 50% 50%/35% 61% 39% 65%;
  }
}
@-webkit-keyframes half-bubble-box {
  0%,
  100% {
    border-radius: 63% 37% 54% 46%;
  }
  14% {
    border-radius: 40% 60% 54% 46%/49% 60% 40% 51%;
  }
  28% {
    border-radius: 54% 46% 38% 62%/49% 70% 30% 51%;
  }
  42% {
    border-radius: 61% 39% 55% 45%/61% 38% 62% 39%;
  }
  56% {
    border-radius: 61% 39% 67% 33%/70% 50% 50% 30%;
  }
  70% {
    border-radius: 50% 50% 34% 66%/56% 68% 32% 44%;
  }
  84% {
    border-radius: 46% 54% 50% 50%/35% 61% 39% 65%;
  }
}
@keyframes half-bubble-box {
  0%,
  100% {
    border-radius: 63% 37% 54% 46%;
  }
  14% {
    border-radius: 40% 60% 54% 46%/49% 60% 40% 51%;
  }
  28% {
    border-radius: 54% 46% 38% 62%/49% 70% 30% 51%;
  }
  42% {
    border-radius: 61% 39% 55% 45%/61% 38% 62% 39%;
  }
  56% {
    border-radius: 61% 39% 67% 33%/70% 50% 50% 30%;
  }
  70% {
    border-radius: 50% 50% 34% 66%/56% 68% 32% 44%;
  }
  84% {
    border-radius: 46% 54% 50% 50%/35% 61% 39% 65%;
  }
}

/** Author Name **/
.author_name {
  width: 96%;
  height: 95%;
  padding: 10em;
  display: flex;
  /* text-align: center; */
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.author_name h1 {
  font-size: 90px;
  /*text-align: center;*/
  color: #971f1f;
  font-family: "hind_maduraibold";
  animation-duration: 1s;
  animation-name: fadeInUp;
  -webkit-animation-duration: 1s;
  -webkit-animation-name: fadeInUp;
}
@media (min-width: 320px) and (max-width: 767px) {
  .author_name h1 {
    font-size: 45px;
  }
}
.author_name h2 {
  font-size: 36px;
  text-align: center;
  margin-bottom: 10px;
  animation-duration: 1s;
  animation-name: fadeInDown;
  color: var(--white-color);
  -webkit-animation-duration: 1s;
  -webkit-animation-name: fadeInDown;
  text-shadow: 1px 1px 4px #d3d3d3;
}
@media (min-width: 320px) and (max-width: 767px) {
  .author_name h2 {
    font-size: 24px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .author_name img {
    width: 320px;
  }
}
.author_name .clip-animation {
  z-index: -1;
  width: 400px;
  height: 400px;
  position: absolute;
  border: 2px solid rgba(151, 31, 31, 0.4117647059);
  -webkit-animation: bubble-box 7s linear infinite;
  animation: bubble-box 7s linear infinite;
}

/** Work Section **/
#work_section {
  position: relative;
  padding: 5em;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  background-color: var(--section-color);
}
@media (min-width: 320px) and (max-width: 767px),
  (min-width: 768px) and (max-width: 980px) {
  #work_section {
    padding: 50px 30px;
  }
}
@media (min-width: 981px) and (max-width: 1200px) {
  #work_section {
    padding: 50px 50px;
  }
}
#work_section .d_btn {
  margin-top: 50px;
  text-align: center;
}
#work_section .d_btn .dribbble_btn {
  font-size: 14px;
  cursor: pointer;
  font-weight: 700;
  padding: 20px 30px;
  border-radius: 50px;
  letter-spacing: 1px;
  font-family: "didact_gothicregular";
  color: var(--text-color);
  text-transform: uppercase;
  border: 2px solid #ea4c89;
  background-color: transparent;
  transition: all ease-in-out 0.5s;
}
#work_section .d_btn .dribbble_btn:hover {
  color: #000;
  background-color: #ea4c89;
}
#work_section .d_btn .secondary_btn {
  font-size: 14px;
  cursor: pointer;
  font-weight: 700;
  padding: 20px 30px;
  border-radius: 50px;
  letter-spacing: 1px;
  font-family: "didact_gothicregular";
  color: var(--text-color);
  text-transform: uppercase;
  border: 2px solid #ea4c89;
  background-color: transparent;
  transition: all ease-in-out 0.5s;
}
#work_section .d_btn .secondary_btn:hover {
  color: #000;
  background-color: #ea4c89;
}
#work_section .work_section {
  display: grid;
  grid-gap: 3em;
  grid-template-columns: 3fr 3fr 3fr;
}
@media (min-width: 320px) and (max-width: 767px) {
  #work_section .work_section {
    grid-template-columns: 12fr;
  }
}
@media (min-width: 768px) and (max-width: 980px) {
  #work_section .work_section {
    grid-template-columns: 6fr 6fr;
  }
}
#work_section .work_section .works_main_div {
  overflow: hidden;
  position: relative;
  background-repeat: no-repeat;
  background-position: -90% 60%;
  transition: all ease-in-out 0.5s;
  background-color: #1f2029;
}
#work_section .work_section .works_main_div a {
  display: block;
  text-decoration: none;
  padding: 30px 30px 45px 30px;
}
#work_section .work_section .works_main_div a .work_div .work_img {
  overflow: hidden;
}
#work_section .work_section .works_main_div a .work_div .work_img img {
  opacity: 0.85;
  filter: grayscale(75%);
  transition: all ease-in-out 0.5s;
}
#work_section .work_section .works_main_div a .work_div .coming_soon {
  display: grid;
  min-height: 375px;
  align-items: center;
}
#work_section .work_section .works_main_div a .work_div .coming_soon h4 {
  padding: 0;
  opacity: 0.5;
  font-size: 35px;
  line-height: 35px;
}
#work_section .work_section .works_main_div a .work_div:hover .work_img img {
  opacity: 1;
  filter: grayscale(0%);
  transform: scale(1.07);
}
#work_section .work_section .works_main_div a .work_div h4 {
  padding: 30px 0;
  font-size: 24px;
  text-align: center;
  color: #d9d9d9;
  text-decoration: none;
  text-transform: uppercase;
}
#work_section .work_section .works_main_div .primary_btn {
  left: 0;
  right: 0;
  bottom: 0;
  border: none;
  display: block;
  cursor: pointer;
  font-weight: 700;
  padding: 15px 25px;
  position: absolute;
  text-align: center;
  color: #fff;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-color: #ea4c89;
  font-family: "didact_gothicregular";
}
#work_section .work_section .works_main_div .primary_btn:hover {
  color: #484b65 !important;
  transition: all ease-in-out 0.5s;
  background-color: transparent !important;
}
#work_section .work_section .works_main_div .work_button {
  left: 0;
  right: 0;
  bottom: 0;
  border: none;
  display: block;
  cursor: pointer;
  font-weight: 700;
  padding: 15px 25px;
  position: absolute;
  text-align: center;
  color: #fff;
  letter-spacing: 1px;
  font-family: "didact_gothicregular";
  text-transform: uppercase;
  background-color: #ea4c89;
}
#work_section .bubble_animation_left {
  top: 7%;
  left: -11%;
  width: 50%;
  content: "";
  height: 25em;
  margin: 0 auto;
  max-width: 25em;
  position: absolute;
  border: 2px solid rgba(151, 31, 31, 0.4117647059);
  -webkit-animation: bubble-box 7s linear infinite;
  animation: bubble-box 7s linear infinite;
}
@media (min-width: 320px) and (max-width: 767px) {
  #work_section .bubble_animation_left {
    width: 95%;
    left: -50%;
  }
}

@-webkit-keyframes left-right {
  0% {
    transform: translateX(-20px);
  }
  50% {
    transform: translateX(20px);
  }
  100% {
    transform: translateX(-20px);
  }
}

@keyframes left-right {
  0% {
    transform: translateX(-20px);
  }
  50% {
    transform: translateX(20px);
  }
  100% {
    transform: translateX(-20px);
  }
}
/** About Section **/
#about_section {
  margin: 0 auto;
  position: relative;
  /* padding: 5em; */
  padding-bottom: 50px;
  /* background-color: var(--section-color); */
}
.about_left_intro,
.about_sec_img,
.work_process_section {
  padding: 5em;
  background-color: #ffffff;
  border-radius: 1em;
}

.img-effect {
  opacity: 0.4;
}
.work_process_section {
  margin-top: 2em;
}

@media (min-width: 320px) and (max-width: 767px) {
  #about_section {
    padding: 0px;
  }
}

@media (min-width: 768px) and (max-width: 980px) {
  #about_section {
    padding: 50px 30px;
  }
}
@media (min-width: 981px) and (max-width: 1200px) {
  #about_section {
    padding: 50px 50px;
  }
}
#about_section .about_div {
  display: grid;
  grid-gap: 2em;
  align-items: center;
  grid-template-columns: 6fr 6fr;
}
@media (min-width: 320px) and (max-width: 767px),
  (min-width: 768px) and (max-width: 980px) {
  #about_section .about_div {
    grid-template-columns: 12fr;
  }
}
#about_section .about_div P {
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 1em;
  color: var(--text-color);
}
#about_section .about_div .about_sec_img img {
  width: 100%;
}
#about_section .about_div .about_icon {
  text-align: center;
}
#about_section .about_div .about_icon .fil0 {
  -webkit-animation: bubble-box 7s linear infinite;
  animation: bubble-box 7s linear infinite;
}
#about_section .about_div .about_icon h6 {
  font-size: 14px;
  margin-top: 20px;
  text-align: center;
  color: var(--text-color);
  text-transform: uppercase;
}
/* #about_section .work_process_section {
  margin-top: 70px;
} */
#about_section .work_process_section h4 {
  font-size: 24px;
  margin-bottom: 50px;
  color: var(--heading-color);
}
#about_section .work_process_section .process_div {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 3fr 3fr 3fr 3fr;
}
@media (min-width: 320px) and (max-width: 767px) {
  #about_section .work_process_section .process_div {
    grid-gap: 1em;
    grid-template-columns: 6fr 6fr;
  }
}
#about_section .work_process_section .process_div .process_icon {
  position: relative;
}
#about_section .work_process_section .process_div .process_icon img {
  position: relative;
}
#about_section
  .work_process_section
  .process_div
  .process_icon
  .bubble_bg_animation {
  left: 0;
  right: 0;
  top: -15%;
  content: "";
  width: 160px;
  height: 160px;
  margin: 0 auto;
  max-width: 25em;
  position: absolute;
  background-color: rgba(142, 139, 132, 0.1490196078);
  -webkit-animation: bubble-box 7s linear infinite;
  animation: bubble-box 7s linear infinite;
}
#about_section .work_process_section .process_div h4 {
  font-size: 18px;
  margin-top: 40px;
  text-align: center;
  color: var(--heading-color);
}
@media (min-width: 320px) and (max-width: 767px) {
  #about_section .work_process_section .process_div h4 {
    margin-bottom: 50px;
  }
}

/** Contact Section **/
#contact_section {
  margin: 0 auto;
  position: relative;
  padding: 50px 150px;
}
@media (min-width: 320px) and (max-width: 767px),
  (min-width: 768px) and (max-width: 980px) {
  #contact_section {
    padding: 50px 30px;
  }
}
@media (min-width: 981px) and (max-width: 1200px) {
  #contact_section {
    padding: 50px 50px;
  }
}
#contact_section .contact_div {
  display: grid;
  grid-gap: 1em;
  align-items: center;
  grid-template-columns: 12fr;
}
#contact_section .contact_div ul {
  padding: 0;
  text-align: left;
  list-style-type: none;
}
@media (min-width: 320px) and (max-width: 767px) {
  #contact_section .contact_div ul {
    text-align: left;
  }
}
#contact_section .contact_div ul li {
  margin: 40px 0;
  display: block;
}
@media (min-width: 320px) and (max-width: 767px) {
  #contact_section .contact_div ul li {
    display: block;
    margin: 0 0 20px 0;
  }
}
#contact_section .contact_div ul li a {
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  transition: all ease-in-out 0.5s;
  color: var(--heading-color);
}
#contact_section .contact_div ul li a img {
  vertical-align: middle;
  transition: all ease-in-out 0.5s;
}
#contact_section .contact_div ul li a span {
  vertical-align: middle;
}
#contact_section .contact_div ul li a:hover {
  color: var(--white-color);
}
#contact_section .contact_div ul li a:hover img {
  -webkit-animation-name: bounce-away;
  animation-name: bounce-away;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
  animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  transform-origin: bottom;
}
@-webkit-keyframes bounce-away {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-10px);
  }
  50% {
    transform: scale(1.05, 0.95) translateY(0);
  }
  57% {
    transform: scale(1, 1) translateY(-7px);
  }
  64% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}
@keyframes bounce-away {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-10px);
  }
  50% {
    transform: scale(1.05, 0.95) translateY(0);
  }
  57% {
    transform: scale(1, 1) translateY(-7px);
  }
  64% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}

/** work detail section **/
.back_icon {
  top: 30px;
  left: 30px;
  position: absolute;
}
.back_icon img {
  width: 80px;
  transform: rotate(180deg);
}

.work_detail_section {
  width: 100%;
  height: 100vh;
  display: grid;
  padding: 50px;
  grid-gap: 5em;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  grid-template-columns: 6fr 6fr;
}
@media (min-width: 320px) and (max-width: 767px),
  (min-width: 768px) and (max-width: 980px) {
  .work_detail_section {
    grid-template-columns: 12fr;
  }
}
.work_detail_section h1 {
  font-size: 90px;
  text-align: left;
  color: #971f1f;
  font-family: "hind_maduraibold";
  animation-duration: 1s;
  animation-name: fadeInUp;
  -webkit-animation-duration: 1s;
  -webkit-animation-name: fadeInUp;
}
@media (min-width: 320px) and (max-width: 767px) {
  .work_detail_section h1 {
    font-size: 45px;
    margin-top: 40px;
  }
}
.work_detail_section h2 {
  font-size: 24px;
  text-align: left;
  font-weight: 200;
  color: var(--text-color);
  animation-duration: 1s;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  -webkit-animation-name: fadeInDown;
}
@media (min-width: 320px) and (max-width: 767px) {
  .work_detail_section h2 {
    font-size: 24px;
  }
}
.work_detail_section p {
  margin-top: 30px;
  line-height: 24px;
  color: var(--text-color);
}
@media (min-width: 320px) and (max-width: 767px) {
  .work_detail_section img {
    width: 320px;
  }
}
.work_detail_section .clip-animation {
  z-index: -1;
  -webkit-animation: bubble-box 7s linear infinite;
  animation: bubble-box 7s linear infinite;
}

.overview_section {
  padding: 50px 150px;
}
@media (min-width: 320px) and (max-width: 767px),
  (min-width: 768px) and (max-width: 980px) {
  .overview_section {
    padding: 50px 30px;
  }
}
@media (min-width: 981px) and (max-width: 1200px) {
  .overview_section {
    padding: 50px 50px;
  }
}
.overview_section .overview_div {
  display: grid;
  grid-gap: 5em;
  margin-bottom: 100px;
  grid-template-columns: 6fr 6fr;
}
@media (min-width: 320px) and (max-width: 767px),
  (min-width: 768px) and (max-width: 980px) {
  .overview_section .overview_div {
    grid-template-columns: 12fr;
  }
}
.overview_section .overview_div h4 {
  font-size: 36px;
  font-weight: 200;
  color: var(--text-color);
  margin-bottom: 30px;
}
.overview_section .overview_div p {
  line-height: 24px;
  color: var(--text-color);
}
.overview_section h3 {
  font-size: 45px;
  text-align: center;
  margin-bottom: 50px;
  color: var(--heading-color);
}
.overview_section .outcome_div h4 {
  font-size: 36px;
  font-weight: 200;
  text-align: center;
  color: var(--text-color);
  margin-bottom: 50px;
}
.overview_section .outcome_div .wireframes_div {
  display: grid;
  grid-gap: 5em;
  margin-bottom: 100px;
  grid-template-columns: 6fr 6fr;
}
@media (min-width: 320px) and (max-width: 767px) {
  .overview_section .outcome_div .wireframes_div {
    grid-template-columns: 12fr;
  }
}
.overview_section .outcome_div .wireframes_div p {
  font-size: 21px;
  margin-bottom: 15px;
  color: var(--text-color);
}
.overview_section .outcome_div .wireframes_div img {
  width: 400px;
  margin: 0 auto;
}
.overview_section .outcome_div.recipe_div .wireframes_div {
  grid-template-columns: repeat(3, 1fr);
}
@media (min-width: 768px) and (max-width: 980px) {
  .overview_section .outcome_div.recipe_div .wireframes_div {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .overview_section .outcome_div.recipe_div .wireframes_div {
    grid-template-columns: repeat(1, 1fr);
  }
}
.overview_section .outcome_div.zara_web_div .wireframes_div {
  grid-template-columns: 7fr 2.1fr;
}
@media (min-width: 320px) and (max-width: 767px) {
  .overview_section .outcome_div.zara_web_div .wireframes_div {
    grid-template-columns: 12fr;
  }
}
@media (min-width: 768px) and (max-width: 980px) {
  .overview_section .outcome_div.zara_web_div .wireframes_div {
    grid-template-columns: 7fr 2fr;
  }
}
.overview_section .outcome_div.zara_web_div .wireframes_div img {
  width: 100%;
}
.overview_section .outcome_div.grapphics_div img {
  width: 100%;
}
.overview_section .outcome_div.two_faced .wireframes_div {
  grid-template-columns: 12fr;
}
.overview_section .outcome_div.two_faced .wireframes_div img {
  width: 80%;
}

@media only screen and (min-width: 1920px) {
  #work_section .work_section .works_main_div {
    background-size: 60%;
    background-position: -70% 60%;
  }
  #work_section .work_section .works_main_div a {
    padding: 50px 50px 45px 50px;
  }
}
/*********************************** K css start here***********************************/
body {
  background-color: #fbfbfb !important;
}
/*heading element*/
h2 {
  font-size: 4em;
  margin-bottom: 0.5em !important;
  font-family: palatino linotype, serif !important;
}
h3 {
  font-size: 2.5em;
  margin-bottom: 0.5em !important;
  font-family: palatino linotype, serif !important;
}
/****social media added in header **/
.social-media--header ul {
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
}

.social-media--header li {
  margin-right: 2em;
}

.color-c9ada7 {
  /* color: #886863; */
  color: #484b65;
}

.color-c9ada7:hover {
  /* color: #604843; */
  color: #604843;
}

/** *************** backgrounds of main sections **/
#home_section {
  margin: 2em !important;
  background-color: #ffffff !important;
  /* background-image: url(/assets/images/flower_bg.svg); */
}

#work_section,
#contact_section {
  background-color: #f2e9e4 !important;
  /*eee2cd*/
}

/* #about_section {
  background-color: #ffffff !important;
} */

/* box bg color */
#work_section .work_section .works_main_div {
  background-color: #ffffff !important;
}

/**view on Behance box button */
#work_section .work_section .works_main_div .primary_btn {
  color: #ffffff !important;
  background-color: #484b65 !important;
  border: 1px solid #484b65 !important;
}

#work_section .work_section .works_main_div .primary_btn:hover {
  color: #484b65 !important;
  background-color: transparent !important;
  transition: all ease-in-out 0.5s;
}

/** *button Behance **/
#work_section .d_btn .secondary_btn {
  color: #484b65 !important;
  border: 1px solid #484b65 !important;
  background-color: transparent;
}

#work_section .d_btn .secondary_btn:hover {
  color: #ffffff !important;
  background-color: #484b65 !important;
  /*#4a4e69*/
}

/** ***************titles --- TEXTS  */
.author_name h1 {
  color: #cb9d93 !important;
  /*#c9ada7 #*/
  font-size: 3.5em !important;
  font-family: palatino linotype, serif !important;
}

.header-intro {
  color: #000000 !important;
  font-size: 22px !important;
  /*margin: 2.5em 2em;*/
  line-height: 1.6em;
}

/*resume text */
.header-intro a {
  color: #484b65;
}

.header-intro a:hover {
  color: #604843;
}

#work_section h2,
.work_name h4,
#about_section h2,
.work_process_section h3,
#contact_section h2,
#contact_section .contact_div ul li a {
  color: #604843 !important;
}

#work_section h2,
#work_section p {
  text-align: center;
}

#work_section p {
  color: #272643;
  margin-bottom: 3em;
  line-height: 2em;
}

.work_name h4 {
  color: #272643 !important;
}

#about_section .about_div P {
  color: #272643 !important;
}

.process_div h4 {
  color: #272643 !important;
}

.work_process_section h3 {
  text-align: center !important;
}

/*** *************** hamburger menu **/
#header {
  top: 35px !important;
  right: 34px !important;
}

.hamburger-menu .toggle-menu {
  background-color: #4a4e69 !important;
  width: 56px !important;
  height: 54px !important;
}

.toggle-menu span {
  background-color: #fff !important;
}

#menu span:after {
  color: #fff !important;
}

.toggle-menu span:before,
.toggle-menu span:after {
  background-color: #fff !important;
}

#menu {
  background-color: #f2e9e4 !important;
}

#menu .main-nav a {
  color: #976e66 !important;
}

#menu .menu-footer a {
  color: #976e66 !important;
}

/* ** ***************Major updates*/
#work_section {
  border-radius: 0 !important;
  margin: 2em;
}

/* #work_section {
    padding: 4em !important;
  } */
.works_main_div {
  border-radius: 0.2em;
}

.work_img {
  border-radius: 0.2em;
}

.work_div h4 {
  padding: 24px 0 !important;
  font-size: 18px !important;
  font-weight: 200;
  text-transform: none !important;
}

#work_section .work_section .works_main_div a .work_div .work_img img {
  filter: grayscale(10%) !important;
}

#about_section,
#contact_section {
  margin: 2em !important;
}

/***** bubble**/
#about_section
  .work_process_section
  .process_div
  .process_icon
  .bubble_bg_animation {
  background-color: #4a4e69 !important;
}

/**rotate square https://codepen.io/flaviocopes/pen/zyyJpL **/
.rotate {
  -webkit-animation: rotation 8s infinite linear;
  animation: rotation 8s infinite linear;
}

@-webkit-keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
/** *************** ring animation*/
.common-css-animate {
  z-index: 0 !important;
  position: absolute;
  border: 1px solid #d8c3a5 !important;
}

.author_name .clip-animation {
  width: 30px !important;
  height: 30px !important;
  left: 68% !important;
  top: 2% !important;
}

.author_name .clip-animation-1 {
  width: 20px !important;
  height: 20px !important;
  rotate: 90;
  right: 90% !important;
  top: 12% !important;
}

.author_name .clip-animation-2 {
  width: 25px !important;
  height: 25px !important;
  right: 10% !important;
  top: 10% !important;
  -webkit-animation: bubble-box 7s linear infinite;
  animation: bubble-box 7s linear infinite;
}

.author_name .clip-animation-3 {
  width: 30px !important;
  height: 30px !important;
  right: 78% !important;
  top: 4% !important;
  -webkit-animation: bubble-box 7s linear infinite;
  animation: bubble-box 7s linear infinite;
}

.author_name .clip-animation-4 {
  width: 10px !important;
  height: 10px !important;
  left: 30% !important;
  top: 1% !important;
  -webkit-animation: bubble-box 7s linear infinite;
  animation: bubble-box 7s linear infinite;
}

.author_name .clip-animation-5 {
  width: 15px !important;
  height: 15px !important;
  left: 73% !important;
  top: 7% !important;
  -webkit-animation: bubble-box 7s linear infinite;
  animation: bubble-box 7s linear infinite;
}

.author_name .clip-animation-6 {
  width: 15px !important;
  height: 15px !important;
  right: 66% !important;
  top: 15% !important;
}

.author_name .clip-animation-7 {
  width: 16px !important;
  height: 16px !important;
  right: 80% !important;
  top: 18% !important;
}

.author_name .clip-animation-8 {
  width: 17px !important;
  height: 17px !important;
  left: 60% !important;
  top: 18% !important;
}

.footer-social-media ul {
  gap: 2em;
  display: flex !important;
  justify-content: center;
}
@media (min-width: 320px) and (max-width: 767px) {
  #menu .menu-footer {
    padding: 1rem 0 !important;
  }

  #menu .menu-footer ul li {
    margin: 0 5px !important;
  }

  .author_name {
    padding-top: 15px;
  }

  .about_left_intro,
  .work_process_section {
    padding: 30px;
  }

  .footer-social-media ul {
    flex-direction: column;
  }
}
.footer-social-media a {
  text-decoration: none;
  font-size: 16px;
}
.footer-social-media p {
  margin-bottom: 2em;
}

/*********************************** K css ends here ***********************************/ /*# sourceMappingURL=custom.css.map */
