@font-face {
  font-family: "didact_gothicregular";
  src: url("../fonts/didactgothic-regular-webfont.eot");
  src: url("../fonts/didactgothic-regular-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/didactgothic-regular-webfont.woff") format("woff"),
    url("../fonts/didactgothic-regular-webfont.ttf") format("truetype"),
    url("../fonts/didactgothic-regular-webfont.svg#didact_gothicregular")
      format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "hind_maduraibold";
  src: url("../fonts/hindmadurai-bold-webfont.eot");
  src: url("../fonts/hindmadurai-bold-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/hindmadurai-bold-webfont.woff") format("woff"),
    url("../fonts/hindmadurai-bold-webfont.ttf") format("truetype"),
    url("../fonts/hindmadurai-bold-webfont.svg#hind_maduraibold") format("svg");
  font-weight: normal;
  font-style: normal;
}
* {
  box-sizing: border-box;
  -webkit-margin-after: 0;
  margin-block-end: 0;
  -webkit-margin-before: 0;
  margin-block-start: 0;
}

:after,
:before {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-size: 15px;
  overflow-x: hidden;
  position: relative;
  color: #000000;
  letter-spacing: 1.2px;
  font-family: "Open Sans", Arial, sans-serif;
  /* font-family: "didact_gothicregular"; */
  transition: all ease-in-out 0.5s;
  background-color: #ffffff;
}
.container-wrapper {
  width: 1200px;
  margin: 0 auto;
  padding: 2.5rem 2rem 2.5rem 2rem;
}
@media only screen and (min-width: 3774px) {
  .container-wrapper {
    width: 1200px;
    margin: 0 auto;
  }
}
@media (min-width: 320px) and (max-width:1400px ){
  .container-wrapper {
    width: 100%;
    padding: 3rem 2rem 3rem 2rem;
    margin: 0 auto;
  }
}


:root {
  --primary-color: #971f1f;
  --secondary-color: #64676e;
  --text-color: #d9d9d9;
  --black-color: #000;
  --white-color: #fff;
  --heading-color: rgba(189, 195, 199, 0.45);
  --body-color: #1f2029;
  --section-color: #1a1c28;
  --bg-label-color: #d9d9d9;
}

[data-theme="light"] {
  --primary-color: #971f1f;
  --secondary-color: #64676e;
  --text-color: #000;
  --black-color: #fff;
  --white-color: #000;
  --heading-color: #64676e;
  --body-color: #fff;
  --section-color: #e9e9e9;
  --bg-label-color: #64676e;
}
[data-theme="light"] .portfolio_text {
  text-align: left;
  -ms-writing-mode: tb-lr;
  writing-mode: vertical-lr;
  color: rgba(200, 200, 200, 0.1);
  background: linear-gradient(
    90deg,
    rgba(41, 40, 40, 0.007),
    rgb(215, 215, 215)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
[data-theme="light"] #menu {
  background-color: #e9e9e9;
}
[data-theme="light"] #menu .main-nav a,
[data-theme="light"] #menu .menu-footer a {
  color: #64676e;
}
[data-theme="light"] ::-webkit-scrollbar-thumb {
  background-color: #64676e;
}

/***************** Scrollbar **/
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: var(--body-color);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(200, 200, 200, 0.055);
}

::-webkit-scrollbar-thumb:hover {
  background-color: #c8c8c8;
}

/** ***********dark/light mode theme**/
.theme-switch-wrapper .theme-switch {
  z-index: 9;
  top: 120px;
  right: 18px;
  width: 60px;
  height: 34px;
  position: fixed;
  display: inline-block;
}
.theme-switch-wrapper .theme-switch input {
  display: none;
}
.theme-switch-wrapper .slider {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  cursor: pointer;
  transition: 0.4s;
  position: absolute;
  background-color: var(--primary-color);
}
.theme-switch-wrapper .slider:before {
  left: 4px;
  width: 21px;
  bottom: -8px;
  content: "";
  height: 21px;
  transition: 0.4s;
  position: absolute;
  background-repeat: no-repeat;
  background: url(../images/sun.svg);
}
.theme-switch-wrapper input:checked + .slider:before {
  transform: translateX(30px);
  background-repeat: no-repeat;
  background: url(../images/moon.svg);
}

/********************* Portfolio SEO Text **/
.portfolio_text {
  top: 0.1em;
  z-index: -10;
  line-height: 1;
  font-size: 120px;
  text-align: left;
  font-weight: 900;
  position: absolute;
  -ms-writing-mode: tb-lr;
  writing-mode: vertical-lr;
  text-transform: uppercase;
  color: rgba(200, 200, 200, 0.1);
  -webkit-writing-mode: vertical-lr;
  font-family: "hind_maduraibold";
  background: linear-gradient(
    90deg,
    rgba(42, 42, 42, 0),
    rgba(200, 200, 200, 0.0588235294)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (min-width: 320px) and (max-width: 767px) {
  .portfolio_text {
    font-size: 45px;
  }
}

/************************************universal classes *******/
.margin-top-sm{
  margin-top: 2.5em;
}
hr{
  border-color: #60484317;
  margin-bottom: 2em;
}
.margin-top-md{
  margin-top: 3em;
}
.text-center{
  text-align: center;
}

/*button*/
.btn-primary{
margin: 2em 0em;
font-size: 14px;
  cursor: pointer;
  font-weight: 700;
  padding: 20px 30px;
  letter-spacing: 1px;
  font-family: "didact_gothicregular";
  color: var(--text-color);
  text-transform: uppercase;
  border: 2px dashed #cb9d93;
  background-color: #cb9d93;
  transition: all ease-in-out 0.5s;
  
}


.btn-primary:hover {
  color: #000;
  background-color: transparent;
}

#project_section,
#about_section
{
  margin-bottom: 9em;
}
/*img*/
.img-responsive {
  height: auto;
  margin: 0 auto;
  display: block;
  max-width: 100%;
}

/**headings*/

/*heading element*/
h1 {
  font-size: 3em;
  color: #484b65;
}

h2 {
  font-size: 4em;
  margin-bottom: 1em;
}

h3 {
  font-size: 2.5em;
  margin-bottom: 0.5em;
}
.intro_section-author h2 {
  color: #cb9d93 !important;
  font-size: 4em !important;
}
.intro_section-author h2 {
  /* font-size: 36px; */
  animation-duration: 1s;
  animation-name: fadeInDown;
  color: var(--white-color);
  -webkit-animation-duration: 1s;
  -webkit-animation-name: fadeInDown;
}
@media (min-width: 320px) and (max-width: 767px) {
  .intro_section-author h2 {
    font-size: 24px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .intro_section-author h2 {
    font-size: 45px;
  }
}

.project_name h3 {
  color: #272643;
  font-size: 1.5em;
}
#project_section h2,
.project_name h4,
#about_section h2,
.work_process_section h3,
#contact_section h2,
#contact_section .contact_div ul li a {
  color: #604843 !important;
}

.project_name h4 {
  color: #272643 !important;
}

.process_div h4 {
  color: #272643 !important;
}

.work_process_section h3 {
  text-align: center !important;
}
.project_div h4 {
  padding: 24px 0 !important;
  font-size: 18px !important;
  font-weight: 200;
  text-transform: none !important;
}

/*anchor element*/
a {
  text-decoration: underline wavy;
  text-decoration-color: #484b65;
  text-underline-offset: 10px;
  color: #484b65;
}
a:hover {
  text-decoration-style: wavy;
  text-decoration-color: #484b65;
  text-underline-offset: 10px;
  color: #484b65;
  font-weight: bold;
}

/************************************ Hamburger Menu Icon **/
.hamburger-menu .toggle-menu {
  padding: 1em;
  background-color: #971f1f;
  -webkit-animation: bubble-box 7s linear infinite;
  animation: bubble-box 7s linear infinite;
}
@-webkit-keyframes bubble-box {
  0%,
  100% {
    border-radius: 63% 37% 54% 46%;
  }
  14% {
    border-radius: 40% 60% 54% 46%/49% 60% 40% 51%;
  }
  28% {
    border-radius: 54% 46% 38% 62%/49% 70% 30% 51%;
  }
  42% {
    border-radius: 61% 39% 55% 45%/61% 38% 62% 39%;
  }
  56% {
    border-radius: 61% 39% 67% 33%/70% 50% 50% 30%;
  }
  70% {
    border-radius: 50% 50% 34% 66%/56% 68% 32% 44%;
  }
  84% {
    border-radius: 46% 54% 50% 50%/35% 61% 39% 65%;
  }
}
@keyframes bubble-box {
  0%,
  100% {
    border-radius: 63% 37% 54% 46%;
  }
  14% {
    border-radius: 40% 60% 54% 46%/49% 60% 40% 51%;
  }
  28% {
    border-radius: 54% 46% 38% 62%/49% 70% 30% 51%;
  }
  42% {
    border-radius: 61% 39% 55% 45%/61% 38% 62% 39%;
  }
  56% {
    border-radius: 61% 39% 67% 33%/70% 50% 50% 30%;
  }
  70% {
    border-radius: 50% 50% 34% 66%/56% 68% 32% 44%;
  }
  84% {
    border-radius: 46% 54% 50% 50%/35% 61% 39% 65%;
  }
}
@-webkit-keyframes half-bubble-box {
  0%,
  100% {
    border-radius: 63% 37% 54% 46%;
  }
  14% {
    border-radius: 40% 60% 54% 46%/49% 60% 40% 51%;
  }
  28% {
    border-radius: 54% 46% 38% 62%/49% 70% 30% 51%;
  }
  42% {
    border-radius: 61% 39% 55% 45%/61% 38% 62% 39%;
  }
  56% {
    border-radius: 61% 39% 67% 33%/70% 50% 50% 30%;
  }
  70% {
    border-radius: 50% 50% 34% 66%/56% 68% 32% 44%;
  }
  84% {
    border-radius: 46% 54% 50% 50%/35% 61% 39% 65%;
  }
}
@keyframes half-bubble-box {
  0%,
  100% {
    border-radius: 63% 37% 54% 46%;
  }
  14% {
    border-radius: 40% 60% 54% 46%/49% 60% 40% 51%;
  }
  28% {
    border-radius: 54% 46% 38% 62%/49% 70% 30% 51%;
  }
  42% {
    border-radius: 61% 39% 55% 45%/61% 38% 62% 39%;
  }
  56% {
    border-radius: 61% 39% 67% 33%/70% 50% 50% 30%;
  }
  70% {
    border-radius: 50% 50% 34% 66%/56% 68% 32% 44%;
  }
  84% {
    border-radius: 46% 54% 50% 50%/35% 61% 39% 65%;
  }
}

/******************************* Author Intro **/
.intro_section-author {
  width: 100%;
  margin: 0 auto;
  height: 95%;
  padding: 10em 0;
  display: flex;
  align-items: center ;
  flex-direction: column;
  justify-content: center;
}

/******************************  Work Section **/
#project_section {
  position: relative;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  background-color: var(--section-color);
}
#project_section .project_section .project_main_div a .project_div .project_img img {
  filter: grayscale(10%) !important;
}

#project_section .project_section {
  display: grid;
  grid-gap: 3em;
  grid-template-columns: 3fr 3fr;
}
#project_section .project_section .project_main_div {
  overflow: hidden;
  position: relative;
  background-repeat: no-repeat;
  background-position: -90% 60%;
  transition: all ease-in-out 0.5s;
  background-color: #1f2029;
}
#project_section .project_section .project_main_div a {
  display: block;
  text-decoration: none;
  /* padding: 1em; */
}
#project_section .project_section .project_main_div a .project_div .project_img {
  overflow: hidden;
}
#project_section .project_section .project_main_div a .project_div .project_img img {
  opacity: 0.85;
  filter: grayscale(75%);
  transition: all ease-in-out 0.5s;
}
#project_section .project_section .project_main_div a .project_div .coming_soon {
  display: grid;
  min-height: 375px;
  align-items: center;
}
#project_section .project_section .project_main_div a .project_div:hover .project_img img {
  opacity: 1;
  filter: grayscale(0%);
  transform: scale(1.07);
}
#project_section .project_section .project_main_div .work_button {
  left: 0;
  right: 0;
  bottom: 0;
  border: none;
  display: block;
  cursor: pointer;
  font-weight: 700;
  padding: 15px 25px;
  position: absolute;
  text-align: center;
  color: #fff;
  letter-spacing: 1px;
  font-family: "didact_gothicregular";
  text-transform: uppercase;
  background-color: #ea4c89;
}
@media (min-width: 320px) and (max-width: 767px),
  (min-width: 768px) and (max-width: 980px) {
  #project_section {
    padding: 50px 30px;
  }
}
@media (min-width: 981px) and (max-width: 1200px) {
  #project_section {
    padding: 50px 50px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  #project_section .bubble_animation_left {
    width: 95%;
    left: -50%;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  #project_section .project_section {
    grid-template-columns: 12fr;
  }
}
@media (min-width: 768px) and (max-width: 980px) {
  #project_section .project_section {
    grid-template-columns: 6fr 6fr;
  }
}
@media only screen and (min-width: 1920px) {
  #project_section .project_section .project_main_div {
    background-size: 60%;
    background-position: -70% 60%;
  }
  #project_section .project_section .project_main_div a {
    /* padding: 1em; */
  }
}
@-webkit-keyframes left-right {
  0% {
    transform: translateX(-20px);
  }
  50% {
    transform: translateX(20px);
  }
  100% {
    transform: translateX(-20px);
  }
}

@keyframes left-right {
  0% {
    transform: translateX(-20px);
  }
  50% {
    transform: translateX(20px);
  }
  100% {
    transform: translateX(-20px);
  }
}



/*************************************************About Section **/
#about_section {
  margin: 0 auto;
  position: relative;
  padding-bottom: 50px;
}
.img-effect {
  opacity: 0.4;
}
.work_process_section {
  padding: 5em 5em 0em 5em;
  background-color: #ffffff;
}

.work_process_section {
  margin-top: 2em;
}
@media (min-width: 200px) and (max-width: 1186px) {
  .work_process_section {
    padding: 2em 2em 0em 2em;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  #about_section {
    padding: 0px;
  }
}

@media (min-width: 768px) and (max-width: 980px) {
  #about_section {
    padding: 50px 30px;
  }
}
@media (min-width: 981px) and (max-width: 1200px) {
  #about_section {
    padding: 50px 50px;
  }
}
#about_section .about_div {
  display: grid;
  grid-gap: 2em;
  align-items: center;
  grid-template-columns: 6fr 6fr;
}
@media (min-width: 320px) and (max-width: 767px),
  (min-width: 768px) and (max-width: 980px) {
  #about_section .about_div {
    grid-template-columns: 12fr;
  }
}
#about_section .about_div P {
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 1em;
  color: var(--text-color);
}
#about_section .about_div .about_sec_img img {
  width: 100%;
}
#about_section .about_div .about_icon {
  text-align: center;
}
#about_section .about_div .about_icon .fil0 {
  -webkit-animation: bubble-box 7s linear infinite;
  animation: bubble-box 7s linear infinite;
}
#about_section .about_div .about_icon h6 {
  font-size: 14px;
  margin-top: 20px;
  text-align: center;
  color: var(--text-color);
  text-transform: uppercase;
}
/* #about_section .work_process_section {
  margin-top: 70px;
} */
#about_section .work_process_section h4 {
  font-size: 24px;
  margin-bottom: 50px;
  color: var(--heading-color);
}
#about_section .work_process_section .process_div {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 3fr 3fr 3fr 3fr;
}
@media (min-width: 320px) and (max-width: 767px) {
  #about_section .work_process_section .process_div {
    grid-gap: 1em;
    grid-template-columns: 6fr 6fr;
  }
}
#about_section .work_process_section .process_div .process_icon {
  position: relative;
}
#about_section .work_process_section .process_div .process_icon img {
  position: relative;
}

#about_section
  .work_process_section
  .process_div
  .process_icon
  .bubble_bg_animation {
  left: 0;
  right: 0;
  top: -15%;
  content: "";
  width: 160px;
  height: 160px;
  margin: 0 auto;
  max-width: 25em;
  position: absolute;
  background-color: rgba(142, 139, 132, 0.1490196078);
  -webkit-animation: bubble-box 7s linear infinite;
  animation: bubble-box 7s linear infinite;
}
#about_section .work_process_section .process_div h4 {
  font-size: 18px;
  margin-top: 40px;
  text-align: center;
  color: var(--heading-color);
}
@media (min-width: 320px) and (max-width: 767px) {
  #about_section .work_process_section .process_div h4 {
    margin-bottom: 50px;
  }
}


/***********************************  Khush css start here***********************************/

/****social media added in header **/
.social-media--header ul {
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
}

.social-media--header li {
  margin-right: 2em;
}

.color-c9ada7 {
  /* color: #886863; */
  color: #484b65;
}

.color-c9ada7:hover {
  /* color: #604843; */
  color: #604843;
}

/** *************** backgrounds of main sections **/
#intro_section {
  background: linear-gradient(
    -45deg,
    #cb9d93,
    #ffffff,
    #cb9d93,
    #ffffff,
    #ffffff
  );
  background-size: 400% 400%;
}

#project_section,
#contact_section {
  background-color: #ffffff !important;
}

/* box bg color */
#project_section .project_section .project_main_div {
  background-color: #ffffff !important;
}

/**view on Behance box button */
#project_section .project_section .project_main_div .primary_btn {
  color: #ffffff !important;
  background-color: #484b65 !important;
  border: 1px solid #484b65 !important;
}

#project_section .project_section .project_main_div .primary_btn:hover {
  color: #484b65 !important;
  background-color: transparent !important;
  transition: all ease-in-out 0.5s;
}

.project_type {
  border-radius: 7px;
  padding: 1px 12px;
  background: whitesmoke;
}

.header-intro {
  color: #000000 !important;
  font-size: 22px !important;
  /*margin: 2.5em 2em;*/
  line-height: 1.6em;
}

.project_name {
  margin-bottom: 2.5em;
}

#project_section p {
  color: #272643;
  line-height: 2em;
}

#about_section .about_div P {
  color: #272643 !important;
}

/*** *************** hamburger menu **/
#header {
  top: 35px !important;
  right: 34px !important;
  display: none;
}

.hamburger-menu .toggle-menu {
  background-color: #4a4e69 !important;
  width: 56px !important;
  height: 54px !important;
}

.toggle-menu span {
  background-color: #fff !important;
}

#menu span:after {
  color: #fff !important;
}

.toggle-menu span:before,
.toggle-menu span:after {
  background-color: #fff !important;
}

#menu {
  background-color: #f2e9e4 !important;
}

#menu .main-nav a {
  color: #976e66 !important;
}

#menu .menu-footer a {
  color: #976e66 !important;
}

@media (min-width: 320px) and (max-width: 856px) {
  #header{
    display: block;
  }
  .nav-menu_section-items {
    display: none;
  }
  .container-wrapper{
    padding: 3rem 2rem 3rem 2rem;
  }
}

/**********************footer******************/
.footer-social-media ul {
  gap: 2em;
  display: flex !important;
  justify-content: center;
}

@media (min-width: 320px) and (max-width: 767px) {
  #menu .menu-footer {
    padding: 1rem 0 !important;
  }

  #menu .menu-footer ul li {
    margin: 0 5px !important;
  }

  .intro_section-author {
    padding: 10em 1em 6em 1em;
  }

  .about_left_intro,
  .work_process_section {
    padding: 30px;
  }

  .footer-social-media ul {
    flex-direction: column;
  }
}
.footer-social-media a {
  text-decoration: none;
  font-size: 16px;
}
.footer-social-media p {
  margin-bottom: 2em;
}

/***********************************************Animations*****/
.intro_section-author .clip-animation {
  z-index: -1;
  width: 400px;
  height: 400px;
  position: absolute;
  border: 2px solid rgba(151, 31, 31, 0.4117647059);
  -webkit-animation: bubble-box 7s linear infinite;
  animation: bubble-box 7s linear infinite;
}

/**rotate square https://codepen.io/flaviocopes/pen/zyyJpL **/
.rotate {
  -webkit-animation: rotation 8s infinite linear;
  animation: rotation 8s infinite linear;
}

@-webkit-keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
/** *************** ring animation*/
.common-css-animate {
  z-index: 0 !important;
  position: absolute;
  border: 1px solid #d8c3a5 !important;
}

.intro_section-author .clip-animation {
  width: 30px !important;
  height: 30px !important;
  left: 68% !important;
  top: 2% !important;
}

.intro_section-author .clip-animation-1 {
  width: 20px !important;
  height: 20px !important;
  rotate: 90;
  right: 90% !important;
  top: 12% !important;
}

.intro_section-author .clip-animation-2 {
  width: 25px !important;
  height: 25px !important;
  right: 10% !important;
  top: 10% !important;
  -webkit-animation: bubble-box 7s linear infinite;
  animation: bubble-box 7s linear infinite;
}

.intro_section-author .clip-animation-3 {
  width: 30px !important;
  height: 30px !important;
  right: 78% !important;
  top: 4% !important;
  -webkit-animation: bubble-box 7s linear infinite;
  animation: bubble-box 7s linear infinite;
}

.intro_section-author .clip-animation-4 {
  width: 10px !important;
  height: 10px !important;
  left: 30% !important;
  top: 1% !important;
  -webkit-animation: bubble-box 7s linear infinite;
  animation: bubble-box 7s linear infinite;
}

.intro_section-author .clip-animation-5 {
  width: 15px !important;
  height: 15px !important;
  left: 73% !important;
  top: 7% !important;
  -webkit-animation: bubble-box 7s linear infinite;
  animation: bubble-box 7s linear infinite;
}

.intro_section-author .clip-animation-6 {
  width: 15px !important;
  height: 15px !important;
  right: 66% !important;
  top: 15% !important;
}

.intro_section-author .clip-animation-7 {
  width: 16px !important;
  height: 16px !important;
  right: 80% !important;
  top: 18% !important;
}

.intro_section-author .clip-animation-8 {
  width: 17px !important;
  height: 17px !important;
  left: 60% !important;
  top: 18% !important;
}

/*********************************** K css ends here ***********************************/ /*# sourceMappingURL=custom.css.map */

/*

--s: 15px;  
--w: 100%; 
--c:#CD8C52;

width: round(var(--w),2*var(--s)); 
aspect-ratio: 1;
object-fit: cover;
padding: var(--s);
border-radius: calc(1.5*var(--s));
--R:calc(var(--s)/sqrt(2)) at;
--g:radial-gradient(var(--R) 50%,var(--c) calc(100% - 1px),#0000) 
   0 0/calc(2*var(--s)) calc(2*var(--s));
--_c:#0000 100%,var(--c) calc(100% + 1px);
--_b:calc(2*var(--s)) calc(51% - var(--s)/2) repeat-x;
background: var(--g),
  radial-gradient(var(--R) 50% calc(100% + var(--s)/2),var(--_c)) 
   var(--s) calc(100% - var(--s)/2)/var(--_b),
  radial-gradient(var(--R) 50% calc(      var(--s)/-2),var(--_c)) 
   var(--s) calc(       var(--s)/2)/var(--_b);
--_m:var(--s)/calc(51% - var(--s)/2) calc(2*var(--s)) repeat-y;
mask: var(--g),
  radial-gradient(var(--R) calc(100% + var(--s)/2) 50%,var(--_c))
   calc(100% - var(--s)/2) var(--_m),
  radial-gradient(var(--R) calc(      var(--s)/-2) 50%,var(--_c)) 
   calc(       var(--s)/2) var(--_m);
*/

/** Contact Section **/
/**#contact_section {
  margin: 0 auto;
  position: relative;
  padding: 50px 150px;
}
@media (min-width: 320px) and (max-width: 767px),
  (min-width: 768px) and (max-width: 980px) {
  #contact_section {
    padding: 50px 30px;
  }
}
@media (min-width: 981px) and (max-width: 1200px) {
  #contact_section {
    padding: 50px 50px;
  }
}
#contact_section .contact_div {
  display: grid;
  grid-gap: 1em;
  align-items: center;
  grid-template-columns: 12fr;
}
#contact_section .contact_div ul {
  padding: 0;
  text-align: left;
  list-style-type: none;
}
@media (min-width: 320px) and (max-width: 767px) {
  #contact_section .contact_div ul {
    text-align: left;
  }
}
#contact_section .contact_div ul li {
  margin: 40px 0;
  display: block;
}
@media (min-width: 320px) and (max-width: 767px) {
  #contact_section .contact_div ul li {
    display: block;
    margin: 0 0 20px 0;
  }
}
#contact_section .contact_div ul li a {
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  transition: all ease-in-out 0.5s;
  color: var(--heading-color);
}
#contact_section .contact_div ul li a img {
  vertical-align: middle;
  transition: all ease-in-out 0.5s;
}
#contact_section .contact_div ul li a span {
  vertical-align: middle;
}
#contact_section .contact_div ul li a:hover {
  color: var(--white-color);
}
#contact_section .contact_div ul li a:hover img {
  -webkit-animation-name: bounce-away;
  animation-name: bounce-away;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
  animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  transform-origin: bottom;
}
@-webkit-keyframes bounce-away {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-10px);
  }
  50% {
    transform: scale(1.05, 0.95) translateY(0);
  }
  57% {
    transform: scale(1, 1) translateY(-7px);
  }
  64% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}
@keyframes bounce-away {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-10px);
  }
  50% {
    transform: scale(1.05, 0.95) translateY(0);
  }
  57% {
    transform: scale(1, 1) translateY(-7px);
  }
  64% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}/**



